<header class="gallery-header">
  <h1 class="big mainfont">Layout Gallery</h1>
</header>
<nav class="navbar navbar-expand-sm">
  <div>
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link mainfont" routerLink="colors">カラー</a>
      </li>
      <li class="nav-item mainfont">
        <a class="nav-link mainfont" routerLink="fonts">フォント</a>
      </li>
      <li>
        <a class="nav-link mainfont" routerLink="sizes">サイズ</a>
      </li>
    </ul>
  </div>
</nav>
<div style="padding: 0 1rem 0 1rem; margin-bottom: 2rem">
  <router-outlet></router-outlet>
</div>
