/* You can add global styles to this file, and also import other style files */


.my-flex-container {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  font-family: Garamond;
}
