<div class="form-group">
  <label class="mainfont" for="hue">色相選択</label>
  <select name="hue" id="hue" class="form-control" [(ngModel)]="selectedHue" (change)="setSelectedColors()">
    <option class="mainfont" *ngFor="let hue of hues">{{hue}}</option>
  </select>
</div>


<div *ngFor="let hue of hues">
  <div *ngIf="selectedHue === hue">
    <div class="my-flex-container">
      <div *ngFor="let color of selectedColors" class="flex-item" [style.color]="color">
        <app-gallery-display [text]="color"></app-gallery-display>
      </div>
    </div>
  </div>
</div>

