

.my-flex-container {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  position: relative;
  margin: 10px;
  height: 180px;
  width: 190px;
  color: black;
  text-wrap: normal;
  display: inline-block;
  line-height: 180px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

