<div class="form-group">
  <label for="unit" class="mainfont">サイズ単位選択</label>
  <select name="unit" id="unit" class="form-control" [(ngModel)]="selectedUnit" (change)="setSelectedSizes()">
    <option class="mainfont" *ngFor="let unit of units">{{unit}}</option>
  </select>
</div>


<div *ngFor="let unit of units">
  <div *ngIf="selectedUnit === unit">
    <div class="my-flex-container">
      <div *ngFor="let size of selectedSizes" class="flex-item">
        <div [style.fontSize]="size.toString() + unit">
          <app-gallery-display [text]="size + selectedUnit"></app-gallery-display>
        </div>
      </div>
    </div>
  </div>
</div>


