<div class="form-group">
  <label for="unit" class="mainfont">サイズ単位選択</label>
  <select name="unit" id="unit" class="form-control" [(ngModel)]="selectedUnit" (change)="setSelectedSizes()">
    <option class="mainfont" *ngFor="let unit of units">{{unit}}</option>
  </select>
</div>


<div *ngFor="let unit of units">
  <div *ngIf="selectedUnit === unit">
    <div class="my-flex-container">
      <div *ngFor="let size of selectedSizes" class="flex-item">
        <span class="char" [style.fontSize]="size.toString() + unit">{{size}}</span>
        <span class="unit mainfont">  {{unit}}</span>
        <div class="gallery-display">
        </div>
      </div>
    </div>
  </div>
</div>


